.Button {
  width: 220px;
  height: 40px;
  margin-bottom: 30px;
  button {
    @include normalText();
    height: 100%;
    width: 100%;
    color: white;
    background: #2e335a;
    border-radius: 20px;
    border: solid 3px #fdd36a;
    &:hover {
      box-shadow: 5px 5px 10px #fdd36a;
      cursor: pointer;
    }
  }
}
