.SignUpBox {
  padding: 20px;
  .Box {
    display: flex;
    flex-direction: column;
    background-color: #2e335a;
    padding: 20px 80px;
    align-items: center;
    justify-content: center;
    border: solid 3px #fdd36a;
    border-radius: 8px;
    p {
      color: #fdd36a;
      margin-bottom: 20px;
    }
    .para1 {
      color: white;
      margin-bottom: 0px;
    }
    .otpPara {
      color: white;
    }
    input {
      width: 220px;
      height: 40px;
      margin-bottom: 20px;
      color: white;
      font-weight: 700;
      background: #2e335a;
      border-radius: 20px;
      border: solid 3px #fdd36a;
      text-align: center;
    }
    button {
      width: 120px;
      height: 40px;
      margin: 25px;
      color: black;
      font-weight: 700;
      background: #fdd36a;
      border-radius: 20px;
      text-align: center;
      &:hover {
        box-shadow: 5px 5px 10px #fdd36a;
        cursor: pointer;
      }
    }
    a {
      color: #fdd36a;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
