.login-page {
  color: white;
  @include flexCol(center, center, 5px);
  padding: 50px;
  .login-text {
    font-size: 47px;
    padding: 30px 0px;
    @extend .gradient-text;
  }
  .login-input {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 8px;
    color: var(--secondary);
    height: 50px;
    padding: 10px !important;
    @extend .gradient-input-field;
  }
  .LoginButton {
    @include gradient-btn();
    margin-bottom: 20px;
  }
  .or {
    margin-bottom: 20px;
  }
  .SignUp {
    margin: 20px 0px;
  }
  button {
    @include flexRow(center, center);
  }
}
