.play-page {
  width: 100%;
  min-height: 100vh;
  @include flexCol(center, center, 40px);
  .logo {
    width: 200px;
    height: auto;
  }
  .all-options {
    @include flexCol(center, center, 40px);
    list-style: none;
    .play-button {
      @include gradient-btn();
      width: 250px;
      height: 50px;
      font-size: 16px;
      list-style: none;
      &:hover {
        background-image: linear-gradient(
          135deg,
          rgba(0, 221, 129, 0.25),
          rgba(0, 221, 129, 0.45)
        );
      }
    }
  }
}
