@import "global.scss";
@import "./components/index.scss";
@import "./pages/index.scss";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}
.App {
  background-image: url("../Data/Rectangle\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
