.Play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    @include heading();
    color: #fdd36a;
    text-align: center;
    padding: 100px;
  }
}
