.Quiz {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  .amount {
    background-color: #2e335a;
    width: 22%;
    height: 90vh;
    border: 1px solid #fdd36a;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3px;
    p {
      width: 100%;
      text-align: center;
      color: #fdd36a;
      font-size: 20px;
      font-weight: 600;
      padding: 3px 8px;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
      }
      &.active {
        border: solid 1.5px #fdd36a;
        border-radius: 5px;
      }
      &.level {
        color: white;
      }
    }
  }
  .question {
    background-color: #2e335a;
    width: 50%;
    height: 90vh;
    border: 1px solid #fdd36a;
    border-radius: 5px;
    padding: 15px;
    color: white;

    .questionNo {
      margin-bottom: 30px;
      margin-top: 15px;
      p {
        padding: 8px 20px;
        display: flex;
        align-items: center;
        color: #fdd36a;
        font-size: 20px;
        font-weight: 600;
      }
      div {
        border: 2px solid #fdd36a;
        padding: 8px;
        border-radius: 5px;
      }
    }
    .ques-box {
      height: 28vh;

      .ques {
        padding: 8px 20px;
      }
    }
    .timer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      width: 44px;
      margin: 0px auto;
      border: 1px solid #fdd36a;
      border-radius: 22px;
      color: white;
      font-weight: 500;
      font-size: 18px;
    }
    .option {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 50px;
      row-gap: 30px;
      padding: 20px;

      div {
        border: 1px solid #fdd36a;
        padding: 8px 0px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
        &.active {
          background-color: #fdd36a;
          color: #2e335a;
          font-weight: 600;
        }
      }
    }
    .buton {
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;
      button {
        width: 120px;
        height: 40px;
        margin: 25px;
        color: black;
        font-weight: 700;
        background: #fdd36a;
        border-radius: 20px;
        border: 2px solid #2e335a;
        text-align: center;
        &:hover {
          box-shadow: 5px 5px 10px #fdd36a;
          cursor: pointer;
        }
      }
    }
  }
  .options {
    background-color: #2e335a;
    width: 22%;
    height: 90vh;
    border: 1px solid #fdd36a;
    border-radius: 5px;
    padding: 40px 15px;
    p {
      color: white;
      text-align: center;
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: 600;
    }
    ul {
      list-style: none;
      margin-bottom: 110px;

      li {
        margin-bottom: 22px;

        button {
          width: 80px;
          height: 40px;
          border: 2px solid #2e335a;
          color: black;
          font-weight: 700;
          background: #fdd36a;
          border-radius: 20px;
          text-align: center;
          &:hover {
            box-shadow: 5px 5px 10px #fdd36a;
            cursor: pointer;
          }
        }
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 20px;
          color: #fdd36a;
          margin: 0px 8px;
          svg {
            font-size: 25px;
          }
        }
        &.active {
          button {
            background-color: #7f6a35;
            &:hover {
              box-shadow: none;
              cursor: default;
            }
          }
          div {
            color: #7f6a35;
          }
        }
      }
    }
    h2,
    h1 {
      color: white;
      text-align: center;
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1 {
      color: #fdd36a;
    }
  }
}
